<div class="row">
    <h1>
        Educacion
    </h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>1st study</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et qui ducimus, quasi delectus quam ullam eveniet quidem soluta aut earum quia eum corrupti quis, nisi est optio blanditiis asperiores maxime.</p>
        </ul>
        <ul>
            <li>
                <h1>2nd study</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et qui ducimus, quasi delectus quam ullam eveniet quidem soluta aut earum quia eum corrupti quis, nisi est optio blanditiis asperiores maxime.</p>
        </ul>
        <ul>
            <li>
                <h1>3rd study</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et qui ducimus, quasi delectus quam ullam eveniet quidem soluta aut earum quia eum corrupti quis, nisi est optio blanditiis asperiores maxime.</p>
        </ul>
    </div>
</div>