<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/349x283perfil-advincula_01596.jpg" class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p>Luis Advincula</p>
        <p>Jugador Profesional del Club Atletico Boca Juniors.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>About me</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente est quaerat hic officia inventore, atque eveniet dolores aut illo vitae eaque, error beatae qui repellendus aliquam ducimus voluptas quas repellat.</p>
        </span>
    </div>
</div>