<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/349x283perfil-advincula_01596.jpg" class="img-fluid" id="pp">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Luis Advincula</p>
        <p id="subnombre">Jugador Profesional del Club Atletico Boca Juniors.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>About me</h1>
            <p>Luis Jan Piers Advíncula Castrillón (El Carmen, Ica, 2 de marzo de 1990) es un futbolista profesional peruano. Juega como lateral derecho y su equipo actual es el C. A. Boca Juniors de la Liga Profesional del Fútbol Argentino. Es internacional con la Selección Peruana desde el año 2010.

                Con la Selección de fútbol del Perú ha participado en 3 ediciones de la Copa América: Argentina 2011, Chile 2015, consiguiendo en ambas la medalla de bronce, también obtuvo una medalla de plata en la Copa América 2019. Es el tercer jugador con más presencias (110) y el décimo asistidor (6) en la historia de la selección peruana.
                
                Tras un estudio realizado por la FIFA en 2018, Advíncula figuró como el futbolista más veloz del mundo con una velocidad promedio de 36,3 km/h, por delante de Gareth Bale. En el año 2019 fue el cuarto jugador más veloz con una velocidad promedio de 36,15 km/h.</p>
        </span>
    </div>
</div>