.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.redes{
    margin-right: 0.5em;
}

#logoAP{
    width: 150px;
}

img{
    width: 50px;
}

.btn{
    border-width: medium;
}

/* PHONE POV*/
@media (max-width: 575px){
.container{
    display: flex;
    flex-direction: column;

}

.redes{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -10px;
    right: -3px;
}

.redes img{
    margin: 0.2em;
}
}